
<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type='submit' value="submit" id="btn">Log in</button>
        <p>or</p>
        <a id="btn" href = '/signup' id="btn">Sign Up</a>
    </form>
</body>
</html>