<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="role">Role:</label>
        <input type="text" id="role" name="role" required><br><br>
        
        <button type="submit" value="submit" id="btn">Sign Up</button>
        <p>or</p>
        <a href="/" id="btn">Log in</a>

        
    </form>
</body>
</html>
